<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ne Obman</title>
</head>
<body>
<h2>ПІБ</h2>
    <form>
        Ім'я
        <input type="text" name="firstname" required> <br>
        <br>Прізвище
        <input type="text" name="lastname" required> <br>
        <br>По батькові
        <input type="text" name="surname" required> <br>
    <h2>Ви хочете отримувати гроші та підтримку з сайту Нажухалово.сom? </h2>
        <input type="radio" name="question" value="yes" checked> Так <br>
        <input type="radio" name="question" value="no" checked> Ні <br>
        <br>
        <input type="submit" value="Відправити">
    </form>
</body>
</html>